/**
 * Override Bootstrap variables from /bower_dependencies/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss 
 * and add your own variables here...
 */

/* Colours */
$brand-primary:         #006635 !default;
$brand-secondary:       #6E2C6B !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

/* Typography */
$line-height-base: 1.8;

/* Border radius */
$border-radius-base: 0;
$badge-border-radius: $border-radius-base;

/* font-size */
$font-size-root: 14px;