/**
 * Override Bootstrap variables from /bower_dependencies/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss 
 * and add your own variables here...
 */

/* Colours */
$brand-primary:         #337ab7 !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

/* Typography */
$line-height-base: 1.8;

/* Border radius */
$border-radius-base: 3px !default;

/* font-size */
$font-size-base: 14px !default;